# dump_dir: !!!CHANGE_THIS!!!
dump_dir: out/llama_1B_16H200
name: llama_1B_16H200
#steps: 63_578  # chinchilla optimal - 1525879 steps w/ 2048 slen and bsz 8. Divide by 24 with 24 gpus.
steps: 1000 # test step count
probe_freq: null
seed: 777

optim:
  lr: 5e-4
  weight_decay: 0.01
  warmup: 500
  lr_min_ratio: 0.000001
  clip: 1.0

distributed:
  fsdp_type: no_shard
  dp_replicate: 16
  compile: true
  model_dtype: bf16
  matmul_allow_tf32: false
  selective_activation_checkpointing: false
  tp_size: 1

model:
  dim: 2048
  n_layers: 25
  n_heads: 16

data:
  root_dir: /juice5/scr5/nlp/data/huggingface/lingua-data/
  sources:
    fineweb_edu_10bt_shuffled: 100.0
  batch_size: 8
  prefetch_size: 1024
  seq_len: 2048
  n_views: 2
  load_async: true
  add_bos: true
  add_eos: true
  tokenizer:
    name: tiktoken
    path: /juice5/scr5/nlp/data/huggingface/lingua-data/llama_tokenizer/original/tokenizer.model

profiling:
  run: true
  mem_warmup: 0
  mem_steps: 4
  profile_warmup: 100
  profile_steps: 4

checkpoint:
  dump:
    every: 10000
    keep: 2
  eval:
    every: 10000
    keep: 2

logging:
  freq: 1
  wandb:
    project: lingua-tests
    name: llama_1B_8H200

async_eval_gpus: 1
eval:
  harness:
    tasks:
      - hellaswag
      - task: boolq
        dataset_kwargs:
          trust_remote_code: true
      - piqa
      - task: social_iqa
        dataset_kwargs:
          trust_remote_code: true
      - winogrande
      - openbookqa
      - arc_easy
      - arc_challenge
      - race
      - commonsense_qa
  validation: null
  generator:
    max_tokens: 16384
    dtype: bf16

# slurm is used for async eval
slurm:
  account: nlp
  partition: jag-standard
  ngpu: 1
  ncpu: 16
  constraint: "[48G|80G|141G]"
  mem: 64G
  time: 1440  # 24 hours
